:root {
  --main-bg-color: #f7f5d8;
  --main-yellow: #1f1e1d;
  --main-light-green: #27a346;
  --main-red: #D94C1A;
  --main-yellow-hover: #2912ac;
}

body {
  background-color: var(--main-bg-color);
}

.btn-primary {
  background-color: var(--main-yellow);
  border: none;
}
.btn-primary:hover {
  background-color: var(--main-yellow-hover);
  border: none;
}
.span {
  float: right;
}
.div35{
  width: 35%;
}



